*{
    text-align: center;
}
.head{
    color: rgb(238, 82, 155)
}
h3{
    color: rgb(117, 248, 117)
}
p{
    text-align: justify;
    width: 80%;
    margin: auto;
    color: rgb(214, 58, 58)
}
.best-friend{
    width: 900px;
    overflow: hidden;
    margin: auto;
    height: 800px;
}
.best-friend img{
    width: 45%;
    height: 30%;
    display: inline;
    float: right;
    object-fit: contain;
    border: 2px solid red;
    padding: 10px;
}